@import 'variables';

.account-card {
  width: 360px;
  height: 192px;
  margin-top: 32px;
  padding: 0;
  background-color: $cream-color-alpha;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__amount {
    font-size: 26px;
  }

  &__actions {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-add {
      background-color: $white-color;

      &-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
      }
    }
  }
}
