@import 'variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $content-color;
}

::selection {
  background: $sand-color;
}
::-moz-selection {
  background: $sand-color;
}
