@import 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $main-content-color;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

::selection {
  background: $sand-color;
}
::-moz-selection {
  background: $sand-color;
}
