<wal-snow *ngIf="isSnowEnabled"></wal-snow>

<mat-toolbar class="header" color="primary">
  <ul class="header__menu header__menu-left">
    <li class="header__menu-item--doubled">
      <a mat-button routerLink="/">
        <img src="assets/icon.png" alt="" class="logo" />
      </a>
      <a routerLink="/">Walletium</a>
    </li>

    <ng-container *ngIf="user">
      <li>
        <a mat-button routerLink="/dashboard" routerLinkActive="header__menu-active-item">Dashboard</a>
      </li>
      <li>
        <a mat-button routerLink="/accounts" routerLinkActive="header__menu-active-item">Accounts</a>
      </li>
      <li>
        <a mat-button routerLink="/labels" routerLinkActive="header__menu-active-item">Labels</a>
      </li>

      <ng-container *ngIf="user.role.name === roles.ADMIN">
        <li>
          <a mat-button routerLink="/admin/categories" routerLinkActive="header__menu-active-item">Admin Panel</a>
        </li>
      </ng-container>
    </ng-container>
  </ul>

  <span class="spacer"></span>

  <ul class="header__menu header__menu-right">
    <li class="header__menu-item--snow">
      <mat-icon>ac_unit</mat-icon>
      <mat-slide-toggle color="accent" [(ngModel)]="isSnowEnabled"></mat-slide-toggle>
    </li>

    <ng-container *ngIf="user">
      <li>
        <a mat-button routerLink="profile" routerLinkActive="header__menu-active-item">{{ user.username }}</a>
      </li>
      <li>
        <button mat-button (click)="onLogout()">Log out</button>
      </li>
    </ng-container>

    <ng-container *ngIf="!user">
      <li>
        <a mat-button routerLink="/guest/login" routerLinkActive="header__menu-active-item">Log in</a>
      </li>
      <li>
        <a mat-button routerLink="/guest/signup" routerLinkActive="header__menu-active-item">Sign Up</a>
      </li>
    </ng-container>
  </ul>
</mat-toolbar>
