@import 'variables';

.header {
  position: relative;
  z-index: 10;

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &-left {
      font-size: 16px;
    }

    &-item {
      &--doubled {
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'DM Serif Display', serif;
        font-size: 1.2rem;
      }

      &--snow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        *:first-child {
          margin-right: 0.5em;
        }
      }
    }

    &-active-item {
      background-color: $sand-color-alpha;
      color: $sand-color;
    }

    li {
      margin-right: 16px;
    }
  }
}

.logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}
