<mat-toolbar color="primary">
  <ul class="header__menu header__menu-left">
    <li class="header__menu-item--doubled">
      <a mat-button routerLink="/">
        <img src="assets/icon.png" alt="" class="logo" />
      </a>
      <a routerLink="/">Walletium</a>
    </li>
    <ng-container *ngIf="isUserAuthenticated$ | async as user">
      <li>
        <a mat-button routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</a>
      </li>
      <li>
        <a mat-button routerLink="/accounts" routerLinkActive="mat-accent">Accounts</a>
      </li>
      <li>
        <a mat-button routerLink="/labels" routerLinkActive="mat-accent">Labels</a>
      </li>
      <ng-container *ngIf="user.role.name === roles.ADMIN">
        <li>
          <a mat-button routerLink="/admin/categories" routerLinkActive="mat-accent">Admin Panel</a>
        </li>
      </ng-container>
    </ng-container>
  </ul>

  <span class="spacer"></span>

  <ul
    class="header__menu header__menu-right--authenticated"
    *ngIf="isUserAuthenticated$ | async as user; else unauthenticated"
  >
    <li>
      <a mat-button routerLink="profile" routerLinkActive="mat-accent">{{ user.username }}</a>
    </li>
    <li>
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>

  <ng-template #unauthenticated>
    <ul class="header__menu header__menu-left--authenticated">
      <li>
        <a mat-button routerLink="/guest/login" routerLinkActive="mat-accent">Log in</a>
      </li>
      <li>
        <a mat-button routerLink="/guest/signup" routerLinkActive="mat-accent">Sign Up</a>
      </li>
    </ul>
  </ng-template>
</mat-toolbar>
