<div>
  <input type="text" (click)="onShowCalendar($event)" (focus)="onShowCalendar($event)" />
  <label>{{ label }}</label>
  <div>
    <div>
      <i class="icon-fh-left"></i>
    </div>
    <div>
      <span>{{ months[month] }}</span>
      <span>{{ year }}</span>
    </div>
    <div>
      <i class="icon-fh-right"></i>
    </div>
  </div>
  <div>
    <span>Sun</span>
    <span>Mon</span>
    <span>Tue</span>
    <span>Wed</span>
    <span>Thu</span>
    <span>Fri</span>
    <span>Sat</span>
  </div>
  <div>
    <span *ngFor="let day of days">{{ day }}</span>
  </div>
</div>
