<wal-loader *ngIf="isPending$ | async as loading" [isLoading]="loading"></wal-loader>
<section class="account-detail" *ngIf="account">
  <mat-card class="account-detail__card">
    <div class="account-detail__header">
      <button walBackAction mat-raised-button>
        <div class="account-detail__header-back">
          <mat-icon>keyboard_backspace</mat-icon>
          <p>Back</p>
        </div>
      </button>
      <h2>Account Detail</h2>
      <div class="account-detail__header-actions">
        <button mat-button color="primary" (click)="editAccount()">Edit</button>
        <button mat-button color="warn" (click)="deleteAccount()">Delete</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="account-detail__content">
      <div class="account-detail__avatar">
        <div class="account-detail__avatar-icon" [style.background-color]="account?.color">
          {{ account?.name[0] }}
        </div>
      </div>
      <div class="account-detail__info">
        <div class="account-detail__info">
          <p class="account-detail__info-title">Name</p>
          <p class="account-detail__info-subtitle">{{ account.name }}</p>
        </div>
        <div class="account-detail__info">
          <p class="account-detail__info-title">
            <span>Creation date:</span> {{ account.createdDate | date: 'medium' }}
          </p>
          <p class="account-detail__info-title">
            <span>Last update date:</span> {{ account.updatedDate | date: 'medium' }}
          </p>
        </div>
      </div>

      <div class="account-detail__amount">
        <p class="account-detail__amount-title">Amount</p>
        <p
          class="account-detail__amount-subtitle"
          [ngClass]="{ 'wal--red': account.amount < 0, 'wal--green': account.amount > 0 }"
        >
          {{ account.amount }} {{ account.currency }}
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="account-detail__actions">
      <button mat-raised-button color="accent" (click)="addRecord()">Add Record</button>
    </div>

    <mat-divider></mat-divider>

    <div class="account-detail__footer">
      <mat-tab-group>
        <mat-tab label="Records">
          <div *ngIf="accountRecords$ | async as records" class="account-detail__records">
            <wal-record-row *ngFor="let record of records" [record]="record"></wal-record-row>
          </div>
        </mat-tab>
        <mat-tab label="Balance"></mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</section>
