.account-detail {
  width: 90%;
  height: 100%;
  margin: 32px auto;

  &__card {
    width: 100%;

    &-header {
      width: 100%;
      height: auto;

      display: flex;
      align-items: center;

      &-back {
        display: flex;
        align-items: center;

        mat-icon {
          font-size: 22px;
          height: 100%;
        }

        p {
          margin: 0px;
        }
      }

      &-actions {
        display: flex;
        justify-content: space-around;
        margin-left: auto;

        & > *:first-child {
          margin-right: 16px;
        }
      }

      h2 {
        margin: 0;
      }

      button {
        margin-right: 32px;
      }
    }

    &-content {
      width: 100%;
      display: flex;
      align-items: center;

      &-avatar {
        flex: 1;

        &-content {
          width: 90px;
          height: 90px;
          font-size: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-info {
        flex: 5;

        &-content {
          line-height: 10px;

          &-title {
            font-size: 14px;
            color: #969696;
          }

          &-subtitle {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      &-amount {
        flex: 3;

        &-title {
          font-size: 16px;
          color: #969696;
        }

        &-subtitle {
          font-size: 30px;
        }
      }
    }

    &-footer {
      width: 100%;
    }
  }
}

mat-divider {
  margin: 26px 0;
  position: unset !important;
}

.red {
  color: #cf0000;
}

.green {
  color: #00a108;
}
