<section class="record" *ngIf="record">
  <div class="record__header" (click)="toggleExpand()">
    <div class="record__title">
      <div class="record__category">
        <img [src]="record.category.image" alt="Image" />
        <p>{{ record.category.name }}</p>
      </div>
      <div class="record__date">
        <p>
          {{ record.userChosenDate | date: 'MMMM d, y h:mm a' }}
        </p>
      </div>
      <div class="record__note">
        <p>
          {{ record.note }}
        </p>
      </div>
      <div class="record__account">
        <p [style.backgroundColor]="record.account.color">
          {{ record.account.name }}
        </p>
      </div>
      <div class="record__amount">
        <p>{{ record.account.currency }}</p>
        <p [ngClass]="{ 'wal--green': record.type === 'INCOME', 'wal--red': record.type === 'EXPENSE' }">
          {{ record.amount }}
        </p>
      </div>

      <div
        class="record__arrow"
        [ngClass]="{ 'record__arrow--expandable': isExpandable, 'record__arrow--expanded': isExpanded }"
      >
        <mat-icon>navigate_next</mat-icon>
      </div>
    </div>
  </div>

  <div class="record__details" [@expand]="isExpanded ? 'expanded' : 'initial'">
    <div class="record__details-content">
      <img [src]="record.category.image" alt="" />
      <div class="record__details-info">
        <p><span>Type:</span> {{ record.type }}</p>
        <p><span>Amount:</span> {{ record.amount }}</p>
        <p><span>Date:</span> {{ record.userChosenDate | date: 'MMMM d, y h:mm a' }}</p>
        <p><span>Creation Date:</span> {{ record.createdDate | date: 'MMMM d, y h:mm a' }}</p>
        <p><span>Last Update Date:</span> {{ record.createdDate | date: 'MMMM d, y h:mm a' }}</p>
        <p><span>Payee:</span> {{ record.payee }}</p>
        <p><span>Note:</span> {{ record.note }}</p>
        <p><span>Place:</span> {{ record.place }}</p>
        <p><span>Currency:</span> {{ record.account.currency }}</p>
        <p><span>Account name: </span> {{ record.account.name }}</p>
        <p><span>Category:</span> {{ record.category.name }}</p>
      </div>

      <div class="record__actions">
        <button mat-button color="primary" (click)="onEdit()">Edit</button>
      </div>
    </div>
  </div>
</section>
