@import 'variables';

.toggler {
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: 10;

  width: 40px;
  height: 40px;
  cursor: pointer;

  font-size: 40px;
  color: $second-content-color;

  transition: all 0.4s ease;
  transform: rotate(180deg);

  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}

.closed {
  transform: rotate(0deg);
}
