@import 'variables';

.records {
  margin: 2rem 0;
  padding: 0 2rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
  }

  &__divider {
    margin-bottom: 1rem;
  }

  &__actions {
    margin-bottom: 2rem;
  }

  &__group-date {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }

  &__records {
    margin-bottom: 1.5rem;
  }
}
