.records {
  width: 95%;
  margin: 2rem auto;

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
  }

  &__divider {
    margin-bottom: 1rem;
  }

  &__actions {
    margin-bottom: 2rem;
  }

  &__records {
  }
}
