<mat-expansion-panel class="record" *ngIf="record">
  <mat-expansion-panel-header class="record__header">
    <mat-panel-title class="record__title">
      <div class="record__category">
        <img class="record__category-image" [src]="record.category.image" alt="Image" />
        <p>{{ record.category.name }}</p>
      </div>
      <div class="record__date">
        <p>
          {{ record.userChosenDate | date: 'MMMM d, y h:mm a' }}
        </p>
      </div>
      <div class="record__note">
        <p>
          {{ record.note }}
        </p>
      </div>
      <div class="record__title__account">
        <p [style.backgroundColor]="record.account.color">
          {{ record.account.name }}
        </p>
      </div>
      <div
        class="record__title__amount"
        [ngClass]="{ yellow: record.type === 'INCOME', red: record.type === 'EXPENSE' }"
      >
        <p>{{ record.account.currency }}</p>
        <p>{{ record.amount }}</p>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="record__details">
    <img [src]="record.category.image" alt="" />
    <div class="record__details-info">
      <p><span class="record__bold">Type:</span> {{ record.type }}</p>
      <p><span class="record__bold"> Amount:</span> {{ record.amount }}</p>
      <p><span class="record__bold"> Date:</span> {{ record.userChosenDate | date: 'MMMM d, y h:mm a' }}</p>
      <p><span class="record__bold"> Creation Date:</span> {{ record.createdDate | date: 'MMMM d, y h:mm a' }}</p>
      <p><span class="record__bold"> Last Update Date:</span> {{ record.createdDate | date: 'MMMM d, y h:mm a' }}</p>
      <p><span class="record__bold"> Payee:</span> {{ record.payee }}</p>
      <p><span class="record__bold"> Note:</span> {{ record.note }}</p>
      <p><span class="record__bold"> Place:</span> {{ record.place }}</p>
      <p><span class="record__bold"> Currency:</span> {{ record.account.currency }}</p>
      <p><span class="record__bold"> Account name: </span> {{ record.account.name }}</p>
      <p><span class="record__bold"> Category:</span> {{ record.category.name }}</p>
    </div>
  </div>

  <mat-action-row class="record__actions">
    <button mat-button color="primary" (click)="onEdit()">Edit</button>
  </mat-action-row>
</mat-expansion-panel>
