<!-- <wal-loader *ngIf="isPending$ | async as loading" [isLoading]="loading"></wal-loader> -->
<section class="accounts">
  <div class="accounts__header">
    <h1 class="accounts__title">Accounts</h1>
  </div>

  <mat-divider></mat-divider>

  <div class="accounts__actions">
    <!-- <button mat-raised-button color="accent" (click)="addAccount('add')">Add Account</button> -->
  </div>

  <!-- <ng-container *ngIf="allAccounts$ | async as accounts">
    <div class="accounts__accounts" fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="32px">
      <wal-account-card *ngFor="let account of accounts" [account]="account"></wal-account-card>
    </div>
  </ng-container> -->
</section>
