<wal-loader *ngIf="isPending$ | async as loading" [isLoading]="loading"></wal-loader>
<section class="dashboard">
  <div class="dashboard__header">
    <h1 class="dashboard__title">Dashboard</h1>
  </div>

  <div class="dashboard__divider">
    <mat-divider></mat-divider>
  </div>

  <div class="dashboard__actions">
    <a mat-raised-button color="accent" class="dashboard__action" routerLink="/records/new">Add Record</a>
    <button mat-raised-button color="accent" class="dashboard__action" (click)="addAccount()">Add Account</button>
  </div>

  <ng-container *ngIf="allAccounts$ | async as accounts">
    <div class="dashboard__accounts">
      <wal-account-card *ngFor="let account of accounts" [account]="account"></wal-account-card>
    </div>
  </ng-container>

  <div class="calendar">
    <wal-datetime-picker></wal-datetime-picker>
  </div>
</section>
