@import 'variables';

.record {
  margin: 2rem auto;
  padding: 0 2rem;

  &__header {
    display: flex;
    align-items: center;

    &-back {
      margin-right: 2rem;
      div {
        display: flex;
        align-items: center;
      }

      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }

  &__actions {
    margin-left: auto;

    button {
      margin-left: 0.5rem;
    }

    &-save {
      background-color: $green-color;
      color: $white-color;
    }
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  &__general-info {
    margin-bottom: 2rem;

    p {
      font-size: 1rem;
      color: $second-content-color;
      font-style: italic;
    }

    span {
      color: $main-content-color;
    }
  }

  &__field {
    margin-bottom: 1rem;

    mat-form-field {
      width: 100%;
    }
  }

  &__type-wrapper {
    display: flex;
    justify-content: center;
  }

  &__type {
    margin-bottom: 2rem;

    p {
      padding: 0 2rem;

      font-size: 1rem;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
    }

    mat-button-toggle {
      border: none;
      background-color: $second-content-color-alpha;

      &.mat-button-toggle-checked:first-child {
        background-color: $red-color !important;
      }

      &.mat-button-toggle-checked:nth-child(2) {
        background-color: $green-color !important;
      }

      &.mat-button-toggle-checked:nth-child(3) {
        background-color: $pistachio-color !important;
      }
    }
  }

  &__controls {
    display: flex;

    &-left {
      padding: 2rem;
      flex: 3;
    }

    &-right {
      padding: 2rem;
      flex: 2;
    }
  }

  &__category {
    &-img {
      position: relative;
      top: 7px;
      left: 5px;
      width: 25px;
      height: 25px;
      margin-right: 1rem;
      object-fit: cover;
    }
  }

  &__amount {
    input {
      font-size: 2rem;
    }

    &--EXPENSE {
      color: $red-color;
    }

    &--INCOME {
      color: $green-color;
    }

    &--TRANSFER {
      color: $pistachio-color;
    }
  }

  &__note {
    min-height: 60px;
  }
}

mat-divider {
  margin: 26px 0;
  position: unset !important;
}
