<wal-loader *ngIf="isPending as loading" [isLoading]="loading"></wal-loader>
<section class="record">
  <mat-card class="record__card">
    <div class="record__header">
      <button walBackAction mat-raised-button class="record__header-back">
        <div>
          <mat-icon>keyboard_backspace</mat-icon>
          <p>Back</p>
        </div>
      </button>
      <h2 *ngIf="record">Record {{ record.id }}</h2>
      <h2 *ngIf="isNew">New Record</h2>

      <div class="record__actions">
        <button *ngIf="isEdited" mat-raised-button color="accent" (click)="discardChanges()">Discard</button>
        <button
          *ngIf="isEditable"
          mat-raised-button
          class="record__actions-save"
          [disabled]="recordForm.invalid"
          (click)="submitForm()"
        >
          Save
        </button>
        <button
          *ngIf="!isNew && !isEditable"
          mat-raised-button
          class="record__actions-edit"
          color="primary"
          (click)="toggleEditable()"
        >
          Edit
        </button>
        <button *ngIf="!isNew" mat-raised-button color="warn" (click)="deleteRecord()">Delete</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="record" class="record__info">
      <p>
        Account:
        <span class="record__info-account" [style.background-color]="record.account.color">{{
          record.account.name
        }}</span>
      </p>
      <p>
        Creation date of record: <span>{{ record.createdDate | date: 'MMM d, y, HH:mm:ss' }}</span>
      </p>
      <p>
        Last updated date of record: <span>{{ record.updatedDate | date: 'MMM d, y, HH:mm:ss' }}</span>
      </p>
    </div>

    <div class="record__content">
      <form *ngIf="recordForm" class="record__form" [formGroup]="recordForm">
        <div class="record__type-wrapper">
          <mat-button-toggle-group matInput class="record__type" formControlName="type">
            <mat-button-toggle value="EXPENSE">
              <p>Expense</p>
            </mat-button-toggle>
            <mat-button-toggle value="INCOME">
              <p>Income</p>
            </mat-button-toggle>
            <mat-button-toggle value="TRANSFER">
              <p>Transfer</p>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="record__controls">
          <div class="record__controls-left">
            <div class="record__field record__amount">
              <mat-form-field floatLabel="always">
                <mat-label>Amount</mat-label>
                <input matInput type="number" [class]="'record__amount--' + type.value" formControlName="amount" />
                <mat-error *ngIf="amount.hasError('required')">Please choose a amount</mat-error>
              </mat-form-field>
            </div>

            <div class="record__field record__category">
              <mat-form-field floatLabel="always">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryId">
                  <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                    <img class="record__category-img" [src]="category.imagePath" alt="icon" />
                    {{ category.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="category.hasError('required')">Please choose a category</mat-error>
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field floatLabel="always">
                <mat-label>Account</mat-label>
                <mat-select formControlName="accountId">
                  <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">
                    {{ account.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="account.hasError('required')">Please choose an account</mat-error>
              </mat-form-field>
            </div>

            <div class="record__field">
              <wal-datetime-picker formControlName="userChosenDate"></wal-datetime-picker>

              <!-- <mat-form-field floatLabel="always">
                <mat-label>Record date</mat-label>
                <input matInput formControlName="userChosenDate" />
                <mat-error *ngIf="userChosenDate.hasError('required')">Please choose a category</mat-error>
              </mat-form-field> -->
            </div>
          </div>

          <div class="record__controls-right">
            <div class="record__field record__note">
              <mat-form-field floatLabel="always">
                <mat-label>Note</mat-label>
                <textarea matInput placeholder="Ex. Kaufland" formControlName="note"></textarea>
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field floatLabel="always">
                <mat-label>Payee</mat-label>
                <input matInput formControlName="payee" />
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field floatLabel="always">
                <mat-label>Place</mat-label>
                <input matInput formControlName="place" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div *ngIf="labels$ | async as labelsList" class="record__field record__labels">
          <mat-form-field>
            <mat-label>Labels: </mat-label>
            <mat-chip-list multiple [selectable]="true" formControlName="labels">
              <mat-chip
                #c="matChip"
                *ngFor="let label of labelsList"
                [style]="{ 'background-color': c.selected ? label.color : '' }"
                [value]="label.id"
                (click)="toggleChip(c, label.id)"
              >
                {{ label.name }}
              </mat-chip>
            </mat-chip-list>
            <mat-hint>Select as many labels as much it suits your record</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </div>

    {{ formJSON }}
  </mat-card>
</section>
