<wal-loader *ngIf="pending as loading" [isLoading]="loading"></wal-loader>
<section class="record">
  <mat-card class="record__card">
    <div class="record__header">
      <button walBackAction mat-raised-button class="record__header-back">
        <div>
          <mat-icon>keyboard_backspace</mat-icon>
          <p>Back</p>
        </div>
      </button>
      <h2 *ngIf="record">Record {{ record.id }}</h2>
      <h2 *ngIf="!record">New Record</h2>

      <div class="record__actions">
        <button *ngIf="isEdited" mat-stroked-button color="accent" (click)="discardChanges()">Discard</button>
        <button
          *ngIf="isEditable"
          mat-stroked-button
          color="accent"
          [disabled]="recordForm.invalid"
          (click)="submitForm()"
        >
          Save
        </button>
        <button *ngIf="!isEditable" mat-stroked-button color="accent" (click)="toggleEditable()">Edit</button>
        <button mat-stroked-button color="warn">Delete</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="record" class="record__general-info">
      <p>
        Account: <span>{{ record.account.name }}</span>
      </p>
      <p>
        Creation date of record: <span>{{ record.createdDate | date: 'MMM d, y, HH:mm:ss' }}</span>
      </p>
      <p>
        Last updated date of record: <span>{{ record.updatedDate | date: 'MMM d, y, HH:mm:ss' }}</span>
      </p>
    </div>

    <div class="record__content">
      <form class="record__form" [formGroup]="recordForm">
        <div class="record__type-wrapper">
          <mat-button-toggle-group matInput class="record__type" formControlName="type">
            <mat-button-toggle value="EXPENSE">
              <p>Expense</p>
            </mat-button-toggle>
            <mat-button-toggle value="INCOME">
              <p>Income</p>
            </mat-button-toggle>
            <mat-button-toggle value="TRANSFER">
              <p>Transfer</p>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="record__controls">
          <div class="record__controls-left">
            <div class="record__field record__amount">
              <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput type="number" formControlName="amount" />
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field>
                <mat-label>Category</mat-label>
                <input matInput formControlName="category" />
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field>
                <mat-label>Record date</mat-label>
                <input matInput formControlName="updatedDate" />
              </mat-form-field>
            </div>
          </div>

          <div class="record__controls-right">
            <div class="record__field record__note">
              <mat-form-field floatLabel="always">
                <mat-label>Note</mat-label>
                <textarea matInput placeholder="Ex. Kaufland" formControlName="note"></textarea>
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field floatLabel="always">
                <mat-label>Payee</mat-label>
                <input matInput formControlName="payee" />
              </mat-form-field>
            </div>

            <div class="record__field">
              <mat-form-field>
                <mat-label>Place</mat-label>
                <input matInput formControlName="place" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="record__field">
          <mat-form-field>
            <mat-label>Labels</mat-label>
            <input matInput formControlName="labels" />
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card>
</section>
