<wal-loader *ngIf="isPending$ | async as loading" [isLoading]="loading"></wal-loader>
<section class="labels">
  <div class="labels__header">
    <h1 class="labels__title">Labels</h1>
  </div>

  <mat-divider></mat-divider>

  <div class="labels__actions">
    <button mat-raised-button color="accent" (click)="addLabel()">Add Label</button>
  </div>

  <div class="labels__content">
    <mat-accordion *ngIf="labels$ | async as labels" multi>
      <wal-label-card *ngFor="let label of labels" [label]="label" [userId]="currentUser.id"></wal-label-card>
    </mat-accordion>
  </div>
</section>
