.admin-layout {
  width: 100;
  height: 100%;
  background-color: #ffffff;

  &__content {
    width: 95%;
    margin: 32px auto;
  }

  &__sidenav {
    width: 260px;
    padding: 20px;

    mat-icon {
      color: #9b9b9b;
    }
  }

  &__title {
    font-size: 32px;
  }

  &__actions {
    margin-top: 16px;

    & > button {
      margin-right: 8px;
    }
  }

  &__outlet {
    margin: 32px 0;
  }
}
