<section class="category-modal">
  <h2 mat-dialog-title>New Category</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
    <mat-dialog-content class="category-modal__content">
      <mat-form-field>
        <mat-label>Category name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. Fuel" />
        <mat-error *ngIf="name?.errors?.required">Email is required</mat-error>
      </mat-form-field>

      <div class="category-modal__image">
        <button
          mat-stroked-button
          color="primary"
          type="button"
          [class.invalid]="image?.errors && isImageInputTouched"
          (click)="onFilePickerClick(filePicker)"
        >
          Pick Image
        </button>
        <div class="category-modal__image-errors">
          <mat-error *ngIf="image?.errors?.required && isImageInputTouched">Image is required</mat-error>
          <mat-error *ngIf="image?.errors?.invalidMimeType && isImageInputTouched">Please, pick a image</mat-error>
        </div>
      </div>

      <div class="category-modal__image-preview" *ngIf="imagePreview && image?.errors === null">
        <img [src]="imagePreview" alt="image" />
      </div>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancelDialog()">Cancel</button>
      <button type="submit" color="accent" mat-raised-button [disabled]="categoryForm.invalid">Save</button>
    </mat-dialog-actions>
  </form>
</section>
