@import 'variables';

.admin-layout {
  width: 100;
  min-height: 100vh;
  background-color: $white-color;

  &__sidenav {
    width: 260px;
    min-height: calc(100vh - 64px);

    padding: 20px;
    background-color: #0c4c7d;

    &-link {
      display: flex !important;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0;

        color: $white-color;
      }
    }

    mat-icon {
      color: $white-color;
    }
  }

  &__sidenav-toggler {
    position: absolute;
    left: 4px;
    top: 50%;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      color: $second-content-color;
      transition: all 0.4s ease;
      transform: rotate(180deg) scale(1.2);
    }

    &--closed mat-icon {
      transform: rotate(0deg) scale(1.2);
    }
  }

  &__content {
    position: relative;

    width: 100%;
    min-height: calc(100vh - 64px);
    padding: 32px;
  }

  &__header {
    &-title {
      font-size: 32px;
      margin: 16px 0;
    }
  }

  &__outlet {
    margin: 16px 0;
  }

  &__active {
    background-color: $primary-color;
  }
}
