<mat-drawer-container class="admin-layout" autosize>
  <mat-drawer #drawer class="admin-layout__sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLinkActive="admin-layout__active">
        <a mat-line class="admin-layout__sidenav-link" routerLink="categories">
          <p>Categories</p>
          <button mat-icon-button>
            <mat-icon>category</mat-icon>
          </button>
        </a>
      </mat-list-item>

      <mat-list-item routerLinkActive="admin-layout__active">
        <a mat-line class="admin-layout__sidenav-link" routerLink="mock">
          <p>Mock</p>
          <button mat-icon-button>
            <mat-icon>loyalty</mat-icon>
          </button>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <wal-sidenav-toggler [state]="isSidenavOpened" (click)="toggleSidenav()"></wal-sidenav-toggler>

  <div class="admin-layout__content">
    <div class="admin-layout__header">
      <h1 class="admin-layout__header-title">Admin Panel</h1>
    </div>

    <mat-divider></mat-divider>

    <div class="admin-layout__outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
