.admin-layout {
  width: 100;
  height: 100%;
  background-color: #ffffff;

  &__sidenav {
    width: 260px;
    padding: 20px;

    &-link {
      display: flex !important;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }

    mat-icon {
      color: #9b9b9b;
    }
  }

  &__content {
    width: 90%;
    margin: 32px auto;
  }

  &__header {
    &-title {
      font-size: 32px;
      margin: 16px 0;
    }
  }

  &__outlet {
    margin: 16px 0;
  }
}

.active {
  background-color: #d8d8d8;
}
