@import 'variables';

.datetime {
  position: relative;

  &--disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;

    input {
      border-bottom: 1px dashed $primary-color;
    }
  }

  &__label {
    font-size: 0.7rem;
    color: $second-content-color;
  }

  &__input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid $primary-color;

    font-size: 0.9rem;

    &:focus {
      outline: none;
    }
  }

  &__toggler {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    color: $second-content-color;

    transition: all 0.3s ease;

    &:hover {
      background-color: $gray-color;
    }

    &--active {
      color: $primary-color;
    }
  }
}

.datetime-picker {
  width: 300px;
  height: 310px;
  border-radius: 6px;
  padding: 1rem;
  background-color: $white-color;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

  &__actions {
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: white;
      border-radius: 50px;
      border: none;
      padding: 0.2rem;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $second-content-color;

      &:hover {
        background-color: $gray-color;
      }
    }
  }

  &__current {
    font-weight: 500;
    color: $primary-color;
  }

  &__calendar {
    width: 100%;

    thead tr th {
      max-width: 0px;
      padding-bottom: 0.6rem;

      color: $second-content-color;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  &__day {
    margin: 0 auto;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;

    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-color-v2;
      color: $white-color;
    }

    &--disabled {
      opacity: 0.3;
      font-weight: 400;
    }

    &--active,
    &--active:hover {
      background-color: $red-color;
      color: $white-color;

      opacity: 0.9;
    }

    &--selected,
    &--selected:hover {
      background-color: $primary-color;
      color: white;
      opacity: 1;
    }
  }
}

.timepicker {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  &__back {
    position: absolute;
    top: -5px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $gray-color;
    }
  }

  &__header {
    position: relative;

    width: 100%;

    font-weight: 500;
    font-size: 1rem;
    color: $primary-color;
    text-align: center;
  }

  &__controls {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 80px;
    font-size: 1.8rem;
    border: none;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &__hour,
  &__minutes {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    cursor: pointer;

    color: $second-content-color;

    &:hover {
      background-color: $gray-color;
    }

    &-next {
      bottom: -30px;
    }

    &-previous {
      top: -30px;
    }
  }

  &__separator {
    font-size: 1.8rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__choose {
    border: 1px solid $primary-color;
    border-radius: 23px;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    cursor: pointer;

    font-weight: 500;
    text-transform: uppercase;
    color: $primary-color;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
