<app-loader *ngIf="isPending$ | async as loading" [isLoading]="loading"></app-loader>
<section fxLayoutAlign="center">
  <mat-card style="margin: 32px">
    <mat-card-header color="primary" fxLayoutAlign="center">
      <mat-card-title>Welcome Again, My friend</mat-card-title>
    </mat-card-header>

    <form
      [formGroup]="loginForm"
      (submit)="loginUser()"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="-20px"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-error *ngIf="email?.errors?.required"> Email is required </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput />
        <mat-error *ngIf="password?.errors?.required"> Password is required </mat-error>
      </mat-form-field>

      <br />

      <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center">
        <div>
          <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign In</button>
        </div>
        <div>
          <a mat-raised-button color="accent" routerLink="../signup">Sign Up</a>
        </div>
      </div>
    </form>
  </mat-card>
</section>
