<wal-loader *ngIf="isPending$ | async as loading" [isLoading]="loading"></wal-loader>

<section class="categories">
  <div class="categories__actions">
    <button mat-raised-button color="accent" (click)="addCategory('add')">Add Category</button>
  </div>

  <mat-accordion *ngIf="categories$ | async as categories" multi>
    <mat-expansion-panel *ngFor="let category of categories">
      <mat-expansion-panel-header class="categories__category-header">
        <mat-panel-title>
          {{ category.name }}
          <img class="categories__category-image" [src]="category.imagePath" alt="image" />
        </mat-panel-title>

        <mat-panel-description>Expand for subcategories </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</section>
