$text-font-stack: 'Roboto', 'Helvetica Neue', 'sans-serif' !default;

$black-color: #000000;
$white-color: #ffffff;
$gray: #474747;

$red: #ff2222;
$orange: #ffa000;
$green: #25bd2d;
$blue: #1976d2;

$primary-color: #123c69;
$primary-color-v2: #0c4c7d;
$accent-color: #ac3b61;
$green-color: #00ab8c;
$red-color: #e80000;

$sand-color: #edc7b7;
$sand-color-alpha: #edc7b726;

$cream-color: #eee2dc;
$cream-color-alpha: #eee2dc26;

$browny-gray-color: #bab2b588;

$main-content-color: #222222;
$second-content-color: #737d81;
$second-content-color-alpha: #607f8b77;
$hover-color: rgba(0, 0, 0, 0.04);
$gray-color: rgba(0, 0, 0, 0.12);
