$text-font-stack: 'Roboto', 'Helvetica Neue', 'sans-serif' !default;

$black: #000000;
$white: #ffffff;
$gray: #474747;

$red: #ff2222;
$orange: #ffa000;
$green: #25bd2d;
$blue: #1976d2;

$primary-color: #123c69;
$accent-color: #ac3b61;
$sand-color: #edc7b7;
$sand-color-alpha: #edc7b726;
$cream-color: #eee2dc;
$browny-gray-color: #bab2b5;
$content-color: #222222;
